# ClickHouse Driver
clickhouse-connect

# Backend & API
fastapi
uvicorn
python-dotenv
python-telegram-bot
httpx

# AI & RAG Orchestration
langchain
langchain-community
langchain-groq
chromadb
sentence-transformers

# Data Scraping & Processing
beautifulsoup4
lxml
feedparser
requests
pandas

# Media Processing (Extensions)
pytesseract
openai-whisper
pydub
opencv-python

# Dashboard (Extensions)
streamlit
langdetect
pycountry